{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block content %}

<h3 class="title is-3">果物マスタ管理</h3>

<div>
    <a href="{% url 'home:index' %}">トップ</a>
    ＞ 果物マスタ管理
</div>

{% for message in messages %}
<div class="message">
    <p class="message-body">{{ message }}</p>
</div>
{% endfor %}

<table class="table is-bordered">
    <tr>
        <th>ID</th>
        <th>名称</th>
        <th>単価</th>
        <th>登録日時</th>
        <th>更新日時</th>
        <th></th>
        <th></th>
    </tr>
    {% for item in items %}
    <tr>
        <td>{{ item.pk }}</td>
        <td>{{ item }}</td>
        <td>{{ item.price |intcomma }}</td>
        <td>{{ item.created_at }}</td>
        <td>{{ item.updated_at }}</td>
        <td>
            <a href="{% url 'items:edit' item.pk %}"><button class="button">編集</button></a>
        </td>
        <td>
            <form method="post" action="{% url 'items:delete' item.pk %}">{% csrf_token %}
                <button class="button" type="submit">削除</button>
            </form>
        </td>
    </tr>
    {% endfor %}
</table>

<div class="pagination">
    <span class="step-links">
        {% if items.has_previous %}
        <a href="?page=1" class="button">&laquo; 最初</a>
        <a href="?page={{ items.previous_page_number }}" class="button">前へ</a>
        {% endif %}
        <span class="current">
            {{ items.number }} / {{ items.paginator.num_pages }}
        </span>
        {% if items.has_next %}
        <a href="?page={{ items.next_page_number }}" class="button">次へ</a>
        <a href="?page={{ items.paginator.num_pages }}" class="button">最後 &raquo;</a>
        {% endif %}
    </span>
</div>

<p><a class="button" href="{% url 'items:register' %}">新規追加</a></p>
{% endblock %}