{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block content %}

<h3 class="title is-3">販売統計情報</h3>

<div>
    <a href="{% url 'home:index' %}">トップ</a>
    ＞ 販売統計情報
</div>

<h4 class="title is-4">累計</h4>
<p class="is-size-3">{{ entire_sales_amount |intcomma }}円</p>

<h4 class="title is-4">月別</h4>
<div>
    <table class="table is-bordered">
        <tr>
            <th>月</th>
            <th>売上</th>
            <th>内訳</th>
        </tr>
        {% for YearMonth, monthly_sale_report in monthly_sale_reports.items %}
        <tr>
            <td>{{ YearMonth.year }}年{{ YearMonth.month }}月</td>
            <td>{{ monthly_sale_report.amount |intcomma }}円</td>
            <td>
                {% for item, report in monthly_sale_report.item_reports.items %}
                    {{ item }}:{{ report.amount |intcomma }}円（{{ report.item_num }}個）
                {% endfor %}
            </td>
        </tr>
        {% endfor %}
    </table>
</div>

<h4 class="title is-4">日別</h4>
<div>
    <table class="table is-bordered">
        <tr>
            <th>日付</th>
            <th>売上</th>
            <th>内訳</th>
        </tr>
        {% for YearMonthDay, daily_sale_report in daily_sale_reports.items %}
        <tr>
            <td>{{ YearMonthDay.year }}年{{ YearMonthDay.month }}月{{ YearMonthDay.day }}日</td>
            <td>{{ daily_sale_report.amount |intcomma }}円</td>
            <td>
                {% for item, report in daily_sale_report.item_reports.items %}
                {{ item }}:{{ report.amount |intcomma }}円（{{ report.item_num }}個）
                {% endfor %}
            </td>
        </tr>
        {% endfor %}
    </table>
</div>

{% endblock %}